/* Add Prism themes */
@import "prismjs/themes/prism-solarizedlight.min.css" screen;
@import "prismjs/themes/prism-tomorrow.min.css" screen and
  (prefers-color-scheme: dark);

/* Fix image scaling in tufte-css */
/* See: https://github.com/edwardtufte/tufte-css/pull/192 */
img {
  height: auto;
}

/* Disable underline in code block in tufte-css */
/* See: https://github.com/edwardtufte/tufte-css/pull/187 */
code > a {
  /* TODO: use text-decoration when next version of tufte-css is released */
  background: unset !important;
}

/* Display for marginnote bibliographies */
label.margin-toggle.inline-cite {
  display: inline;
}
span.inline-bib {
  display: inline-block;
}
span.inline-bib > span.inline-bib-entry {
  display: list-item;
  list-style: none;
}

/* Style for page banner */
article > header {
  display: flex;
  align-items: center;
  justify-content: center;
}
article > header > p.banner-title {
  font-style: italic;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.8rem;
  display: block;
  line-height: 1;
}
