/* Add Tufte CSS */
@import "tufte-css/tufte.min.css";

/* Add Prism Themes */
@import "prismjs/themes/prism-solarizedlight.min.css" screen;
@import "prismjs/themes/prism-tomorrow.min.css" screen and
  (prefers-color-scheme: dark);

/* Colors for use in link anchors and copy-on-click */
/* NOTE: These colors must be kept in sync with the syntax highlighting theme. */
:root {
  --link-anchor: #151515;
  --background: #fdf6e3;
  --foreground: #657b83;
}
@media (prefers-color-scheme: dark) {
  :root {
    --link-anchor: #fffff8;
    --background: #2d2d2d;
    --foreground: #cccccc;
  }
}

/* Fix image scaling in tufte-css */
/* See: https://github.com/edwardtufte/tufte-css/pull/192 */
img {
  height: auto;
}

/* Disable underline in code block in tufte-css */
/* See: https://github.com/edwardtufte/tufte-css/pull/187 */
code > a {
  /* TODO: use text-decoration when next version of tufte-css is released */
  background: unset !important;
}

/* Display for marginnote bibliographies */
label.margin-toggle.inline-cite {
  display: inline;
}
span.inline-bib {
  display: inline-block;
}
span.inline-bib > span.inline-bib-entry {
  display: list-item;
  list-style: none;
}

/* Style for page banner */
article > header {
  display: flex;
  align-items: center;
  justify-content: center;
}
article > header > p.banner-title {
  font-style: italic;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.8rem;
  display: block;
  line-height: 1;
}

/* Style for heading anchors */
h2 > a.heading-anchor > span.heading-anchor-icon > svg {
  margin-left: 0.6rem;
  height: 1.6rem;
  width: auto;
  stroke: var(--link-anchor);
  fill: var(--link-anchor);
}
h3 > a.heading-anchor > span.heading-anchor-icon > svg {
  margin-left: 0.45rem;
  height: 1.2rem;
  width: auto;
  stroke: var(--link-anchor);
  fill: var(--link-anchor);
}
a.heading-anchor {
  /* TODO: use text-decoration when next version of tufte-css is released */
  background: unset;
}
a.heading-anchor:hover {
  /* TODO: use text-decoration when next version of tufte-css is released */
  background:
    -webkit-linear-gradient(var(--link-anchor), var(--link-anchor)),
    -webkit-linear-gradient(var(--link-anchor), var(--link-anchor)),
    -webkit-linear-gradient(currentColor, currentColor);
  background:
    linear-gradient(var(--link-anchor), var(--link-anchor)),
    linear-gradient(var(--link-anchor), var(--link-anchor)),
    linear-gradient(currentColor, currentColor);
  -webkit-background-size:
    0.05em 1px,
    0.05em 1px,
    1px 1px;
  -moz-background-size:
    0.05em 1px,
    0.05em 1px,
    1px 1px;
  background-size:
    0.05em 1px,
    0.05em 1px,
    1px 1px;
  background-repeat: no-repeat, no-repeat, repeat-x;
  background-position:
    0% 93%,
    100% 93%,
    0% 93%;
}
a.heading-anchor > span.heading-anchor-icon > svg {
  display: none;
}
a.heading-anchor:hover > span.heading-anchor-icon > svg {
  display: inline;
}
