---
import "tufte-css/tufte.min.css";
import CopyOnClick from "../components/CopyOnClick.astro";
import { pageTitle } from "../site.mjs";
const { frontmatter } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{frontmatter.title}</title>
  </head>
  <body>
    <article>
      <header>
        <p class="banner-title">
          <a href="/">{pageTitle}</a>
        </p>
      </header>
      <h1>{frontmatter.title}</h1>
      {
        frontmatter?.subtitle && (
          <span class="subtitle">{frontmatter?.subtitle}</span>
        )
      }
      <slot />
    </article>
  </body>
</html>

<!-- Add Prism themes -->
<style is:global>
  @import "prismjs/themes/prism-solarizedlight.min.css" screen;
  @import "prismjs/themes/prism-tomorrow.min.css" screen and
    (prefers-color-scheme: dark);
</style>

<!-- Add "Copy on Click" button to code blocks. -->
<CopyOnClick />

<!-- Fix image scaling in tufte-css -->
<!-- See: https://github.com/edwardtufte/tufte-css/pull/192 -->
<style is:global>
  img {
    height: auto;
  }
</style>

<!-- Disable underline in code block in tufte-css -->
<!-- See: https://github.com/edwardtufte/tufte-css/pull/187 -->
<style is:global>
  code > a {
    background: transparent !important;
  }
</style>

<!-- Display for marginnote bibliographies -->
<style is:global>
  label.margin-toggle.inline-cite {
    display: inline;
  }
  span.inline-bib {
    display: inline-block;
  }
  span.inline-bib > span.inline-bib-entry {
    display: list-item;
    list-style: none;
  }
</style>

<!-- Style for page banner -->
<style is:global>
  article > header {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  article > header > p.banner-title {
    font-style: italic;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.8rem;
    display: block;
    line-height: 1;
  }
</style>

<!-- Style for heading anchors -->
<style is:global>
  h2 > a.heading-anchor > span.heading-anchor-icon > svg {
    margin-left: 0.6rem;
    height: 1.6rem;
    width: auto;
  }
  h3 > a.heading-anchor > span.heading-anchor-icon > svg {
    margin-left: 0.45rem;
    height: 1.2rem;
    width: auto;
  }
  a.heading-anchor {
    /* TODO: use text-decoration when next version of tufte-css is released */
    background: unset;
  }
  a.heading-anchor:hover {
    /* TODO: use text-decoration when next version of tufte-css is released */
    background: -webkit-linear-gradient(#fffff8, #fffff8), -webkit-linear-gradient(#fffff8, #fffff8), -webkit-linear-gradient(currentColor, currentColor);
    background: linear-gradient(#fffff8, #fffff8), linear-gradient(#fffff8, #fffff8), linear-gradient(currentColor, currentColor);
    -webkit-background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
    -moz-background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
    background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
    background-repeat: no-repeat, no-repeat, repeat-x;
    text-shadow: 0.03em 0 #fffff8, -0.03em 0 #fffff8, 0 0.03em #fffff8, 0 -0.03em #fffff8, 0.06em 0 #fffff8, -0.06em 0 #fffff8, 0.09em 0 #fffff8, -0.09em 0 #fffff8, 0.12em 0 #fffff8, -0.12em 0 #fffff8, 0.15em 0 #fffff8, -0.15em 0 #fffff8;
    background-position: 0% 93%, 100% 93%, 0% 93%;
  }
  a.heading-anchor > span.heading-anchor-icon > svg {
    display: none;
  }
  a.heading-anchor:hover > span.heading-anchor-icon > svg {
    display: inline;
  }
</style>
